fastapi
uvicorn
streamlit
langchain
langchain-google-genai
langchain-text-splitters
langchain-community
sentence-transformers
faiss-cpu
reportlab
fastapi
uvicorn
streamlit
langchain
langchain-google-genai
langchain-text-splitters
langchain-community
sentence-transformers
faiss-cpu
reportlab
pypdf
python-docx
pydantic
pydantic-settings
loguru
requests
python-multipart
langchain-huggingface